<a href="https://colab.research.google.com/github/Harsha710/Python-Full-Stack-Development/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
squares = {1:1, 2:4, 3:9, 4:16, 5:25}
print(squares)
key= int(input("Enter key to delete"))
del squares[key]
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
Enter key to delete4
{1: 1, 2: 4, 3: 9, 5: 25}

In [2]:
squares = {1:1, 2:4, 3:9, 4:16, 5:25}
print(squares)
squares.popitem()
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16}

In [5]:
students = {1:"SIKANDER" , 2:"SATYA" , 3:"HUSSAIN"}
courses = {1:"EMBEDED", 2:"DATA SCIENCE", 3:"WEB DEVELOPMENT"}

print('List of Students')
print(students)
print('List of Courses')
print(courses)

students.clear()

del courses

print('List of Students')
print(students)
print('List of Courses')
print(courses)

List of Students
{1: 'SIKANDER', 2: 'SATYA', 3: 'HUSSAIN'}
List of Courses
{1: 'EMBEDED', 2: 'DATA SCIENCE', 3: 'WEB DEVELOPMENT'}
List of Students
{}
List of Courses

NameError: ignored

In [6]:
squares = {1:1, 3:9, 5:25, 7:49, 9:81}

print("1 in squares  :", 1 in squares)

print("2 not in squares  :", 2 not in squares)

print("49 in squares   :", 49 in squares)

1 in squares  : True
2 not in squares  : True
49 in squares   : False

In [7]:
marks = {"Maths" : 45 , "Science" : 23, "Social" : 38}

for subject in marks:
  print(subject)
  
for subject in marks:
  score = marks[subject]
  print(subject,":",score)

Maths
Science
Social
Maths : 45
Science : 23
Social : 38

In [9]:
marks = {"Maths" : 45 , "Science" : 23, "Social" : 38}

print("Keys : " , marks.keys())
print("Values : " , marks.values())
  
print("_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _")
for subject,score in marks.items():
  print(subject,":",score)

Keys :  dict_keys(['Maths', 'Science', 'Social'])
Values :  dict_values([45, 23, 38])
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
Maths : 45
Science : 23
Social : 38

In [11]:
data = "PYTHON DICTIONARY IS AMAZING"

freq = {}
for c in data:
  freq[c] = freq.get(c , 0) + 1

for key in freq:
    print(key , freq[key])

P 1
Y 2
T 2
H 1
O 2
N 3
  3
D 1
I 4
C 1
A 3
R 1
S 1
M 1
Z 1
G 1

In [ ]:
squares = {1:1, 3:9, 5:25, 7:49, 9:81}